@import url(colors.css);
@import url(flexbox.css);

div {
  border-radius: 5px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.box {
  margin: 5px;
  padding: 10px;
}

.one {
  height: 80px;
  width: 780px;
}

.two {
  padding: 10px;
  height: 190px;
  width: 375px;
}

.three {
  padding: 10px;
  width: 375px;
  height: 80px;  
}

.four-five {
  padding: 10px;
  width: 173px;
  height: 80px;
} 